{% extends 'layouts/bbs_layout.html' %}

{% load nbsp %}

{% block title %}編集{% endblock %}

{% block content %}
<p></p>
<h1>{{ question.title }} (ID：{{ answer.id }})</h1>
<p></p>

<form action="{% url 'bbs_answers:edit' answer.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="answer_name">名前</label>
    {% if form.name.errors.as_text == '' %}
      <input type="text" class="form-control" id="answer_name" name="name" value="{{ form.name.value }}">
    {% else %}
      <input type="text" class="form-control is-invalid" id="answer_name" name="name" value="{{ form.name.value }}">
      <div class="text-danger" style="font-size:90%">{{ form.name.errors.as_text }}</div>
    {%endif%}
  </div>    
  
  <div class="form-group">
    <label for="answer_url">ホームページ(ブログ、Twitterなど)のURL (省略可)</label>
    {% if form.url.errors.as_text == '' %}
      <input type="text" class="form-control" id="answer_url" name="url" value="{{ form.url.value }}">
    {% else %}
      <input type="text" class="form-control is-invalid" id="answer_url" name="url" value="{{ form.url.value }}">
      <div class="text-danger" style="font-size:90%">{{ form.url.errors.as_text }}</div>
    {%endif%}
  </div>  
  
  <div class="form-group">
    <label for="answer_body">本文</label>
    {% if form.body.errors.as_text == '' %}
      <textarea name="body" class="form-control" id="answer_body" rows="5">{{ form.body.value }}</textarea>
    {% else %}
      <textarea name="body" class="form-control is-invalid" maxlength="512" id="answer_body" rows="5">{{ form.body.value }}</textarea>
      <div class="text-danger" style="font-size:90%">{{ form.body.errors.as_text }}</div>
    {%endif%}
  </div>     
  <div class="form-check">
    <label for="question_resolved">
      <input type="checkbox" class="form-check-input" id="question_resolved" name="resolved" value="1" {% if question.resolved == True %} checked="checked" {% endif %}>
      ←解決時は質問者本人がここをチェックしてください。
    </label>
    <p></p>
  </div>
  <br>
  <input type="submit" value="更新する"  class="btn btn-primary" onclick="DisableButton(this);">
</form>

<p></p>
<a href="{% url 'bbs_answers:index' %}?question_id={{ question.id}}">戻る</a>
<p></p>
{% endblock %} 
